*{
  font-family: 'Orbitron', sans-serif;
}
body {
  position: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  background-image: url("https://wallpapersite.com/images/wallpapers/stars-3840x2160-galaxy-4k-6362.jpg");
}

h1{
  text-align: center;
  /* margin-bottom: 20px; */
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

header {
  display: inline-table;
}
div {
  display: flex;
  align-items: center;
  justify-content: center
}

label {
  display: block;
  /* border-bottom: 500px; */
}

input, select {
    margin-bottom: 20px;
      font-family: 'Raleway', sans-serif;
}
